<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseName" value=""/>
    <add key="DatabaseUsername" value=""/>
    <add key="DatabasePassword" value=""/>
    <add key="PortName" value="COM1"/>
    <add key="Parity" value="NONE"/>
    <add key="Handshake" value="NONE"/>
    <add key="StopBits" value="NONE"/>
    <add key="DataSpeed" value="9600"/>
    <add key="NumberOfDataBits" value="8"/>
    <add key="StopSymbol" value="NONE"/>
    <add key="PingTimeout" value="1000"/>
    <add key="PingRequestMessage" value="PING"/>
    <add key="PingResponseMessage" value="PONG"/>
    <add key="DataIOControl" value="NONE"/>
    <add key="StopSymbolString" value="CRLF"/>
  </appSettings>
</configuration>